{% extends "blog/base.html" %}

{% block content %}
<!-- sorting dropdowns -->
<div class="card-deck">
    <div class="col-sm-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by User
            </button>
            <div class="dropdown-menu">
                {% for user in sessions %}
                    <a class="dropdown-item" href="{% url 'uid-sessions' user.uid %}">{{ user.uid }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by Campaign
            </button>
            <div class="dropdown-menu">
                {% for campaign in sessions %}
                    <a class="dropdown-item" href="{% url 'cid-sessions' campaign.cid %}">{{ campaign.cid }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort by Question
            </button>
            <div class="dropdown-menu">
                {% for question in sessions %}
                    <a class="dropdown-item" href="{% url 'qid-sessions' question.qid %}">{{ question.qid }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort By Answer
            </button>
            <div class="dropdown-menu">
                {% for answer in sessions %}
                    <a class="dropdown-item" href="{% url 'aid-sessions' answer.aid %}">{{ answer.aid }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br>
<!-- table -->
    <div class="card">
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>Session Timestamp</th>
            <th>sid</th>
            <th>uid</th>
            <th>cid</th>
            <th>qid</th>
            <th>aid</th>
            <th>combined</th>
          </tr>
        </thead>

        {% for session in sessions %}
            <tbody>
              <tr>
                <td><a href="{% url 'date-sessions' session.session_date %}">{{ session.session_date }}</a></td>
                <td><a href="{% url 'session-detail' session.id %}">{{ session.id }}</a></td>
                <td><a href="{% url 'uid-sessions' session.uid %}">{{ session.uid }}</a></td>
                <td><a href="{% url 'cid-sessions' session.cid %}">{{ session.cid }}</a></td>
                <td><a href="{% url 'qid-sessions' session.qid %}">{{ session.qid }}</a></td>
                <td><a href="{% url 'aid-sessions' session.aid %}">{{ session.aid }}</a></td>
                <td><a href="#">{{ session.qid_plus_aid }}</a></td>
              </tr>
            </tbody>
        {% endfor %}
      </table>
    </div>
<br>
    <div class="card">
        <div class="col-sm-12">
            <h4>Directions:</h4>
            <h6><kbd>Session Timestamp</kbd> click to see details on that session</h6>
            <h6><kbd>sid:</kbd> same path as session timestamp</h6>
            <h6><kbd>uid:</kbd> click to see all sessions from this specific user</h6>
            <h6><kbd>cid:</kbd> What would you want to see if clicked?</h6>
            <h6><kbd>qid:</kbd> What would you want to see if clicked?</h6>


        </div>

    </div>

{% endblock content %}





<!--

    {% for session in sessions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">session user holder</a>
              <small class="text-muted">   |    Session Date: {{ session.session_date }}</small>
            </div>
            <p><a class="article-title" href="#">{{ session.uid }}</a></p>
              <p class="article-content">{{ session.eid }}</p>
              <p class="article-content">{{ session.qid }}</p>
          </div>
        </article>
    {% endfor %}

<br>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
-->